body {
   background-color: #f0f0f0;
   display: flex;
   justify-content: center;
   align-items: center;
   height: auto;
}


.main {
   display: flex;
   margin: 0 auto;
   width: 700px;
   border: 1px solid black;
   border-radius:12px;
}


.left {
   width: 50%;

}

.left img {
   width: 100%;
   height: 100%;
   border-radius: 15px 0 0;
}

.logo-text{
    position: absolute;
    width: 200px;
    height: 70px;
    top: 77px;
    left: 500px;
    opacity: 1;

    color:white;
    font-size: 20px;
    font-weight:bold;
}

.vector {
    position: absolute;
    top: 15px;
    left: 120px;
    width: 200px;
    height: auto;
    opacity: 1;
    z-index: 2;
}

.vector img {
    width: 100%;
    height: auto;
    display: block;
}

.right {
   width: 50%;

}


h1 {
   color: #0D542A;
   
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

}

.right {
   width: 50%;
   display: flex;
   justify-content: center;
}

.right-content {
   position: relative;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   gap: 20px;
   padding-top: 30px;
}

input {
   width: 300px;
   height: 40px;
   border-radius: 8px;
   margin-bottom: 8px;
   border-color: #0D542A;
}

button {
   width: 300px;
   height: 40px;
   padding: 0 15px;
   border-radius: 8px;
   background-color: #0D542A;
   color: white;
   cursor: pointer;
}

.social {
   display: flex;
   justify-content: center;
   gap: 10px;
}

.social-btn {
   width: 120px;
   height: 40px;
   padding: 10px;
   border-radius: 5px;
   background-color: #00EB5B33;
   color: white;
   border: none;
   cursor: pointer;
}

.social-btn img {
   width: 23px;
   height: 24px;
}

.text {
   width: 300px;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 12px;
}

.or {
   margin: 0;
   font-size: 14px;
   color: #333;
}

.text::before,.text::after {
   content: "";
   flex: 1;
   height: 1px;
   background-color: #000;
}

